
Requirements  :

#The Required Modules To Run This AI Are :

pyttsx3==2.90
SpeechRecognition==3.8.1
wikipedia==1.4.0
pyjokes==1.0.0
ecapture==0.3
sketchpy==0.1.2
winshell==0.6
requests==2.26.0


#You Can Customize The queries  As Per Your Choice And Convinience ....... 

# (For Any Further Queries Or Issues Contact Us Through Our Github Page Coder12008 )

